body{
    background: rgb(252, 183, 24);
  
}
.container{
    display: grid;
    /* grid-template-columns: 200px,300px auto; */

    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: 20px; */
    /* row-gap: 20px; */
    gap: 20px;
}
.para{
  color: white;
  padding:1rem;
  background: steelblue;
}